/*=============================
    GLOBAL CSS START
=============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--colorBlack);
}

p,
span {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: var(--blackColor);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "roboto" sans-serif;
}

img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
/* 
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  resize: none;
  border: 1px solid rgba(8, 5, 33, 0.1);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */
/* 
input::placeholder,
textarea::placeholder {
  color: #a6a6ac;
} */

button {
  border: none;
}

:root {
  --violetColor: #6576ff;
  --greeColor: #1fcec9;
  --blueColor: #4b97d3;
  --blackColor: #364a63;
  --grayColor: #8091a7;
  --whiteColor: #ffffff;
  --yellowColor: ##ffd200;
}

.product-content-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.rating_review {
  display: flex;
  gap: 12px;
}
.rating i {
  color: #ffd200;
  font-size: 16px;
  margin-bottom: 30px;
}

.price h3 {
  color: var(--violetColor);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.old-price {
  color: var(--grayColor);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: line-through;
}

.product-summary {
  color: var(--grayColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0px;
}

.model p,
.type p {
  color: var(--grayColor);
  font-size: 14px;
  font-weight: 400;
  line-height: 23.1px;
}

.type-model {
  margin-bottom: 30px;
}

.model strong,
.type strong {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

.size-varient,
.color-varient {
  margin-bottom: 30px;
}

.size-varient p,
.color-varient p {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
}

.color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 19px;
  transition: border-color 0.3s ease;
  position: relative;
}

.color-circle::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 19px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Color Variant specific styles */
.color-circle.black {
  background-color: var(--blackColor);
  color: var(--blackColor);
}

.color-circle.blue {
  background-color: var(--blueColor);
  color: var(--blueColor);
}

.color-circle.violet {
  background-color: var(--violetColor);
  color: var(--violetColor);
}

.color-circle.cyan {
  background-color: var(--grayColor);
  color: var(--grayColor);
}

.btn-check:checked + .color-circle::after {
  border-color: currentColor;
}

/* Size Varient Item Style */

.size-varient-item {
  border: 1px solid var(--grayColor);
  margin-right: 12px;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--blackColor);
}

.btn-check:checked + .size-varient-item {
  border-color: var(--violetColor);
  color: var(--violetColor);
}

.action-container {
  margin-top: 20px;
  gap: 12px;
}

.add-to-cart-btn {
  background-color: var(--violetColor);
  padding: 8px 18px;
  color: var(--whiteColor);
}

.heart i {
  font-size: 26px;
}

.btn-checkout {
  border-radius: 20px;
  background: #ffbb5a;
  padding: 8px 24px;
  color: var(--blackColor);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.btn-checkout .count {
  padding: 3px 6px;
  background-color: var(--whiteColor);
  border-radius: 5px;
  margin-left: 10px;
}

.modal-checkout-btn {
  color: var(--whiteColor);
  border-radius: 3px;
  padding: 10px 20px;
  background: #6576ff;
}

.continu-shop-btn {
  color: var(--blackColor);
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid #dbdfea;
}
